{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block css %}
<style>
      .head1 {
    color: rgba(1, 43, 41, 0.774);
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }

  .head2 {
    color: rgb(179, 168, 17);
    font-size: 2rem;
    font-weight: bold;
  }
  </style>
  {% endblock %}

  {% block body %}
  <div class="row py-5 p-4 rounded shadow-sm" style="justify-content:center;background:#097770;">

    <div class='col-lg-6'style="border:2px solid black;padding:80px;border-radius:20px;background-color: #d8cb11dc;">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
            style="color:black;font-weight:bold" align="center">Login Details</div>
        <br>
        <form class="row g-4" method="POST" action="/login/">{% csrf_token %}
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Username</label>
                <input type="text" placeholder="Enter Username" style="text-align: center;"
                    class="form-control" id="username" name="username" required>
            </div>

            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;">
                        Password</label>
                <input type="password" placeholder="Enter Password" style="text-align: center;"
                    class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      
  {% endblock %}
